---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  {% assign post = page %}
  {% include thumbnail.html %}

  <div>
      <div style="float: left">
          {% if page.asin %}
          <a href="http://www.amazon.com/dp/{{ page.asin }}/?tag=prestoschoice-20"><img border="0" src="{{ thumbnail | strip_newlines }}"></a>
          {% else %}
          <img border="0" src="{{ thumbnail || strip_newlines }}">
          {% endif %}
      </div>

      <div>
          <ul>
              {% if page.price_paid %}
              <li>Price paid: {{ page.price_paid }}</li>
              {% endif %}
              {% if page.asin %}
              <li><a href="http://www.amazon.com/dp/{{ page.asin }}/?tag=prestoschoice-20">Buy now from Amazon</a></li>
              {% endif %}
          </ul>
      </div>
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p class="post-meta">Written <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>. Copyright 2016 Preston Hunt. All rights reserved.</p>
  <!--
    <p class="post-meta">{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  -->

</article>
